.info-container {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-privada {
  color: #333;
  font-size: 50px;
  margin: 0;
  text-align: center;
}
